table
{
  padding: 10px;
  margin: 0px auto;
}

.box
{
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  font-size: 190px;
  text-align: center;
}

#player_1
{
  font-size: 50px;
  color: red;
  float: left;
  padding: 10px;
}

#player_2
{
  font-size: 50px;
  color:blue;
  float: right;
  padding: 10px;
}

#start
{
  font-size: 75px;
  text-align: center;
}
